/* Estilos para animacion imagen */
.zoom {
  position: absolute;
  top: 1px;
  left: 20%;
  width: 180px;
  z-index: 999;
  opacity: 0;
  animation: zoom 2s ease-in forwards;
  border-radius: 50px;
}

@keyframes zoom {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    width: 10%;
    top: -1920px;
  }
}
